
#parent {
    background-color:white;
      height:600px;
      display: flex;
}

    #child1 {
    background-color: plum;
      height:300px;
      width: 50%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border: 2px solid blanchedalmond
     
  }
    #child2 {
    background-color: yellow;
    height:300px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid blanchedalmond
}
    #child3 {
    background-color: grey;
    height:300px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid blanchedalmond
}

