
#parent {
    background-color: pink;
      height:200px;
      width: 50%;
      display: flex;
}

    #child1 {
    background-color: plum;
      height:300px;
      width: 50%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
  }
    #child2 {
    background-color: yellow;
    height:300px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    #child3 {
    background-color: grey;
    height:300px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

